# Required
SLACK_APP_TOKEN=xapp-xxxxxx
SLACK_BOT_TOKEN=xoxb-xxxxxx
SLACK_CHANNEL_ID=CXXXXXX
GITHUB_TOKEN=ghp_XXXXXX
GITHUB_REPO_OWNER=XXXXXX
GITHUB_REPO_NAME=XXXXXX

# Optional (defaults shown)
#SLACK_SLASH_COMMAND=/get-repo
#GITHUB_BRANCH=main
#SCHEDULE_CRON=0 0 * * 1,3,5
#SCHEDULE_TIMEZONE=UTC
